# =========================
# Python cache
# =========================
__pycache__/
*.py[cod]

# =========================
# Virtual environments
# =========================
mediapipe10/
VirtualMouse/
venv/
.venv/
env/

# =========================
# VSCode / IDE
# =========================
.vscode/
.idea/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Build files
# =========================
build/
dist/
*.egg-info/

# =========================
# Secrets
# =========================
.env